/*General Styles*/
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: OpenSans;
}

@font-face{
    font-family: OpenSans;
    font-weight: 200;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face{
    font-family: OpenSans;
    font-weight: 500;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSans;
    font-weight: bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}

:root{
    --measureAuto: auto;
}

/*Header Styles*/
.bg-container{
    width: 100%;
    height: 72px;
    background: #fee686;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

    .layer-container{
        width: 88%;
        height: var(--measureAuto);
        margin-right: var(--measureAuto);
        margin-left: var(--measureAuto);
    }

    .main-header{
        width: 100%;
        height: 72px;
        display: flex;
    }

        .img-container{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

            .img-logo{
                width: 72px;
                height: 72px;
                object-fit: contain;
            }

        .menu-container{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .menu-item{
                list-style: none;
                margin: 0 7px;
                padding: 10px 12px;
                border-radius: 6px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                transition: all ease-in-out .2s; 
                color: #ffffff;
                text-shadow: 1px 1px rgba(0,0,0,0.2);
            }

                .menu-item:hover{
                    background: rgba(11, 201, 173, 0.6);
                }

                .menu-item.active{
                    background: #0bc9ad;
                }

/*Banner Styles*/            
.banner{
    width: 100%;
    height: var(--measureAuto);
    background: url("../img/cars/classicCar-cover.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

    .bg-layer{
        width: 100%;
        height: 100%;
        background: rgba(254, 230, 134, 0.7);
    }

    .py-6{
        padding: 5rem 0;
    }

        .banner-title{
            width: 54%;
            height: var(--measureAuto);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .title{
                font-size: 3.8rem;
                color: #fff;
                text-align: center;
                text-shadow: 2px 2px rgba(0,0,0,0.6);
            }

            .btn-find{
                padding: .7rem 1.8rem;
                border-radius: 7px;
                background: #05c39d;
                color: #fff;
                font-weight: bold;
                border: none;
                cursor: pointer;
                box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
            }

        .banner-form{
            width: 46%;
            height: var(--measureAuto);
        }

            .form-register{
                border-radius: 1rem;
                background: #00c495;
                width: 84%;
                margin-right: var(--measureAuto);
                margin-left: var(--measureAuto);
                box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
            }

                .form-body{
                    width: 78%;
                    margin-right: var(--measureAuto);
                    margin-left: var(--measureAuto);
                }

                .bannerForm__title{
                    color:#fff;
                    text-align: center;
                }

                .label-title{
                    font-weight: bold;
                    color: #fff;
                    font-size: 14px;
                }

                .container-input{
                    position: relative;
                }

                    .fa-icon{
                        position: absolute;
                        top: 42px;
                        left: 12px;
                        opacity: 0.8;
                    }

                .inputText{
                    font-size: 14px;
                    padding-left: 2.4rem;
                }

                .btn-register{
                    background: #fee686;
                    color: rgba(0,0,0,0.8);
                    font-weight: bold;
                    font-size: 1rem;
                }
/* Features Styles */
.features{
    width: 100%;
    height: var(--measureAuto);
}

    .card-feature{
        text-align: center;
        color: rgb(4,154,168);
    }

        .card-feature p:nth-child(2){
            font-weight: bold;
        }

        .card-feature p:nth-child(3){
            color: rgba(0, 0, 0, 0.7);
        }

/* Schedule Styles */
.schedule{
    width: 100%;
    height: var(--measureAuto);
    background: url("../img/cars/info-cover.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

    .bgLayer-schedule{
        width: 100%;
        height: 100%;
        background: rgba(0, 196, 149, 0.7);
    }

        .info-schedule{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            font-style: italic;
            font-weight: bold;
            font-size: 1.4rem;
            padding:  8rem 9rem 0 9rem;
            text-shadow: 2px 2px rgba(0,0,0,0.6);
        }

        .buttons-schedule{
            padding: 3rem 0 8rem 0;
        }

            .btn-schedule{
                border-radius: 7px;
                padding: 0.7rem 2rem;
                border: none;
                cursor: pointer;
                font-weight: bold;
                box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
            }

                .btn-nextRace{
                    background: rgb(250, 235, 134);
                }

                .btn-contactUs{
                    background: rgb(9, 41, 80);
                    color: #fff;
                }

/* Card Cars Styles */
.card-car{
    width: 370px;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4); 
    margin: 1rem 0;
}

    .img-car-card{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .description-car-card{
        font-size: 0.9rem;
    }

    .btn-car-card{
        color: #fff;
        background: #0bc9ad;
    }

        .btn-color{
            background: #E2574C;
        }

    .card-width-90{
        width: 90% !important;
        margin-left: var(--measureAuto);
        margin-right: var(--measureAuto);
    }

        .btn-without-shadow{
            box-shadow: 0 0 0 0 #fff;
        }

/* Specific Driver Styles Section */
.specific-driver{
    width: 100%;
    height: var(--measureAuto);
    background: #049AA8;
}

    .container-img-driver{
        width: 30%;
    }

        .info-detail{
            color: #fff;
        }

            .firts-detail-container{
                width: 20%;
                display: flex;
                justify-content: flex-start;
            }

            .second-detail-container{
                width: 80%;
                display: flex;
                justify-content: flex-start;
            }

            .info-pad{
                margin: 0;
            }

            .img-detail-driver{
                margin-left: 0.4rem;
                width: 24px;
                height: 24px;
            }

        .img-driver{
            width: 300px;
            height: 300px;
            border: 3px solid #fff;
            border-radius: 50%;
            object-fit: cover;
        }

    .container-info-driver{
        width: 70%;
    }

        .margin-top-bottom{
            margin: 5rem 0 0.5rem 0;
        }

        .margin-bottom-top{
            margin: 5rem 0 5rem 0;
        }

    .btn-view-more-driver{
        background: #0bc9ad;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 0.4rem 7rem 0.4rem 7rem;
        cursor: pointer;
    }

/* Footer Styles */
.footer-section{
    width: 100%;
    height: var(--measureAuto);
    background: url("../img/cars/car-footer.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

    .container-img-logo-footer{
        width: 45%;
    }

        .img-footer-logo{
            width: 320px;
            height: 320px;
            object-fit: contain;
        }   

    .footer-details{
        width: 55%;
    }

        .info-footer-details{
            color: #fff;
            text-shadow: 1px 1px 16px rgba(0,0,0,0.7);
        }

            .firts-detail-container-footer{
                width: 40%;
                display: flex;
            }

                .marginLeft{
                    margin-left: 3.9rem;
                }

            .second-detail-container-footer{
                width: 60%;
                display: flex;
                justify-content: flex-start;
            }

                .pageLink{
                    font-size: 1.6rem;
                }

            .margin-first{
                margin: 10rem 0 0.5rem 0;
            }

            .margin-last{
                margin: 0.5rem 0 10rem 0;
            }

.bg-subLayer{
    width: 100%;
    height: 72px;
    background: #fee686;
}

    .last-detail-footer{
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.9rem;
        font-weight: bold;
    }

    .container-subLayer{
        position: relative;
    }

        .img-social{
            width: 26px;
            height: 26px;
            position: absolute;
            top: -42px;
        }

        .img-social-twitter{
            right: 28px;
        }

        .img-social-facebook{
            right: 0;
        }


/* Menu Responsive Styles */
.menu-hamburger{
    width: 70%;
    position: relative;
    display: none;
}

    .menu-icon{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);  
        width: 46px;
        height: 46px;
        background: #05c39d;
        color: #fff; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;     
    }

.bg-layer-menu{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    transition: all 5s;
}

    .bg-layer-menu.active{
        display: block;
    }

/* Media queries - Responsive Design*/

@media screen and (max-width: 1024px){
    .title{
        padding: 0 !important;
    }

    .info-schedule{
        padding: 8rem 4rem 0 4rem;
    }

    .img-driver{
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 768px){

    .menu-container{
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        width: 32%;
        height: 100vh;
        position: fixed;
        top: 72px;
        left: -100%;
        background: #fee686;
        transition: all ease-in-out 0.3s;
    }

        .menu-container.active{
            left: 0;
        }

        .menu-item{
            width: 100%;
            margin: 0;
            border-radius: initial;
            border-bottom: 1px solid #fff;
        }

            .menu-item:first-child{
                border-bottom: initial;
            }

    .menu-hamburger{
        display: block;
    }


    .bg-media{
        flex-direction: column;
    }

        .banner-title{
            width: 100%;
        }

        .banner-form{
            display: none;
        }

    .info-schedule{
        padding: 8rem 1rem 0 1rem;
    }

    .card-car{
        width: 320px;
    }

    .bg-driver{
        flex-direction: column;
    }

        .img-driver{
            width: 320px;
            height: 320px;
        }

        .container-img-driver{
            width: 100%;
            justify-content: center !important;
            padding-top: 5rem;
        }

        .container-info-driver{
            width: 100%;
        }

    .bg-footer{
        flex-direction: column;
    }

        .container-img-logo-footer{
            width: 100%;
        }

        .footer-details{
            width: 100%;
        }

            .margin-first {
                margin: 2rem 0 0.5rem 0;
            }

            .margin-last {
                margin: 0.5rem 0 2rem 0;
            }

    .img-footer-logo {
        width: 220px;
        height: 220px;
    }

    .firts-detail-container-footer{
        width: 50%;
        justify-content: flex-start !important;
        padding-left: 4rem;
    }

        .marginLeft{
            margin-left: 0;
        }

    .second-detail-container-footer{
        width: 50%;
        justify-content: flex-end;
        padding-right: 4rem;
    }

        .titleOthers{
            margin-right: 6rem;
        }

        .linkMedia{
            margin-right: 4.6rem;
        }

        .linkMediaSite{
            margin-right: 7rem;
        }
}

@media screen and (max-width: 480px){

    .title{
        font-size: 3rem;
    }

    .bg-feature{
        flex-direction: column;
    }

    .info-schedule{
        padding: 8rem 0 0 0;
    }

    .buttons-schedule{
        flex-direction: column;
    }

        .btn-schedule{
            margin: 1rem 0;
        }

    .img-driver{
        width: 240px;
        height: 240px;
    }

    .second-detail-container{
        padding-left: 1.6rem;
    } 

    .chevyMedia{
        padding-left: 1.6rem;
    }

    .info-detail-media{
        flex-direction: column;
    }
        .fullWidth{
            width: 100%;
        }
            .withOutPad{
                padding: 1rem 0;
            }

    .footer-details{
        display: none;
    }           
    
    .img-footer-logo{
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 320px){
    .title{
        font-size: 2.5rem;
    }

    .second-detail-container {
        padding-left: 2.4rem;
    }

    .chevyMedia{
        padding-left: 2.4rem;
    }

        .withOutPad{
            padding: 1rem 0;
        }
    
    .last-detail-footer{
        font-size: 0.8rem;
    }
}